@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@import "react-medium-image-zoom/dist/styles.css";

:root {
  --background: oklch(0.9886 0.0158 102.8201);
  --foreground: oklch(0.2738 0.0515 161.0959);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2738 0.0515 161.0959);
  --popover: oklch(0.9886 0.0158 102.8201);
  --popover-foreground: oklch(0.2738 0.0515 161.0959);
  --primary: oklch(0.2738 0.0515 161.0959);
  --primary-foreground: oklch(0.8146 0.0705 89.9934);
  --secondary: oklch(0.8146 0.0705 89.9934);
  --secondary-foreground: oklch(0.2738 0.0515 161.0959);
  --muted: oklch(0.9554 0.0253 99.5300);
  --muted-foreground: oklch(0.5111 0.0272 149.0028);
  --accent: oklch(0.9127 0.0402 97.7957);
  --accent-foreground: oklch(0.2738 0.0515 161.0959);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(0.9886 0.0158 102.8201);
  --border: oklch(0.8717 0.0093 258.3382);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.2738 0.0515 161.0959);
  --chart-1: oklch(0.2738 0.0515 161.0959);
  --chart-2: oklch(0.8146 0.0705 89.9934);
  --chart-3: oklch(0.4585 0.0327 149.7963);
  --chart-4: oklch(0.7347 0.0815 80.4793);
  --chart-5: oklch(0.3484 0.0547 163.3593);
  --sidebar: oklch(0.2738 0.0515 161.0959);
  --sidebar-foreground: oklch(0.9886 0.0158 102.8201);
  --sidebar-primary: oklch(0.8146 0.0705 89.9934);
  --sidebar-primary-foreground: oklch(0.2738 0.0515 161.0959);
  --sidebar-accent: oklch(0.3484 0.0547 163.3593);
  --sidebar-accent-foreground: oklch(0.9886 0.0158 102.8201);
  --sidebar-border: oklch(0.3484 0.0547 163.3593);
  --sidebar-ring: oklch(0.8146 0.0705 89.9934);
  --font-sans: Playfair Display, serif;
  --font-serif: Georgia, serif;
  --font-mono: Courier New, monospace;
  --radius: 0.125rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 10px 1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 10px 1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 10px 1px hsl(0 0% 0% / 0.10), 0px 1px 2px 0px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 10px 1px hsl(0 0% 0% / 0.10), 0px 1px 2px 0px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 10px 1px hsl(0 0% 0% / 0.10), 0px 2px 4px 0px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 10px 1px hsl(0 0% 0% / 0.10), 0px 4px 6px 0px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 10px 1px hsl(0 0% 0% / 0.10), 0px 8px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 10px 1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.05em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2348 0.0413 162.1702);
  --foreground: oklch(0.9886 0.0158 102.8201);
  --card: oklch(0.2738 0.0515 161.0959);
  --card-foreground: oklch(0.9886 0.0158 102.8201);
  --popover: oklch(0.2348 0.0413 162.1702);
  --popover-foreground: oklch(0.9886 0.0158 102.8201);
  --primary: oklch(0.8146 0.0705 89.9934);
  --primary-foreground: oklch(0.2738 0.0515 161.0959);
  --secondary: oklch(0.3484 0.0547 163.3593);
  --secondary-foreground: oklch(0.9886 0.0158 102.8201);
  --muted: oklch(0.3484 0.0547 163.3593);
  --muted-foreground: oklch(0.7390 0.0564 123.8131);
  --accent: oklch(0.7347 0.0815 80.4793);
  --accent-foreground: oklch(0.2348 0.0413 162.1702);
  --destructive: oklch(0.4437 0.1613 26.8994);
  --destructive-foreground: oklch(0.9886 0.0158 102.8201);
  --border: oklch(0.3484 0.0547 163.3593);
  --input: oklch(0.3484 0.0547 163.3593);
  --ring: oklch(0.8146 0.0705 89.9934);
  --chart-1: oklch(0.8146 0.0705 89.9934);
  --chart-2: oklch(0.9127 0.0402 97.7957);
  --chart-3: oklch(0.7390 0.0564 123.8131);
  --chart-4: oklch(0.5111 0.0272 149.0028);
  --chart-5: oklch(0.2738 0.0515 161.0959);
  --sidebar: oklch(0.1896 0.0309 164.2985);
  --sidebar-foreground: oklch(0.9886 0.0158 102.8201);
  --sidebar-primary: oklch(0.8146 0.0705 89.9934);
  --sidebar-primary-foreground: oklch(0.2738 0.0515 161.0959);
  --sidebar-accent: oklch(0.3484 0.0547 163.3593);
  --sidebar-accent-foreground: oklch(0.9886 0.0158 102.8201);
  --sidebar-border: oklch(0.3484 0.0547 163.3593);
  --sidebar-ring: oklch(0.8146 0.0705 89.9934);
  --font-sans: Playfair Display, serif;
  --font-serif: Georgia, serif;
  --font-mono: Courier New, monospace;
  --radius: 0.125rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 20px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 20px 2px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 4px 20px 2px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 4px 20px 2px hsl(0 0% 0% / 0.40), 0px 1px 2px 1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 4px 20px 2px hsl(0 0% 0% / 0.40), 0px 1px 2px 1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 4px 20px 2px hsl(0 0% 0% / 0.40), 0px 2px 4px 1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 4px 20px 2px hsl(0 0% 0% / 0.40), 0px 4px 6px 1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 4px 20px 2px hsl(0 0% 0% / 0.40), 0px 8px 10px 1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 4px 20px 2px hsl(0 0% 0% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-nickainley: var(--font-nickainley);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    scroll-behavior: smooth;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 25s linear infinite;
}
